{% extends "::base.html.twig" %}

{% block title %}AppBundle:Note:index{% endblock %}

{% block body %}
    {% if form %}
        {{ form(form) }}
    {% endif %}
    {% if notes|length > 0 %}
        <ul>
            {% for note in notes %}
                <li>{{ note.content }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No notes</p>
    {% endif %}
{% endblock %}
